@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');
@font-face {
  font-family: 'BadaBoom BB';
  src: url('./fonts/BadaBoomBB.woff2') format('woff2'),
    url('./fonts/BadaBoomBB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
